body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 320px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.reading {
    margin-bottom: 20px;
}

.reading label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #666;
}

.reading input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    outline: none;
    opacity: 0.8;
    transition: opacity .15s ease-in-out;
}

#co2 {
    background: linear-gradient(to right, green, green,red , red);
}

#temperature {
    background: linear-gradient(to right, red, green, red);
}

#humidity {
    background: linear-gradient(to right, red, green, red);
}

.reading input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid #888;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.reading input[type="range"]:disabled::-webkit-slider-thumb {
    background: #fff;
    border: 2px solid #888;
}

.reading .values {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

.reading .current-value {
    margin-top: 5px;
    font-size: 14px;
    color: #555;
}

p {
    font-size: 16px;
    color: #555;
    margin-top: 20px;
    font-weight: bold;
}
